@model BiicycleShopDb.Models.ViewModels.RegisterViewModel
@{
}
<h2>Create new user</h2>

<form method="post" class="d-flex flex-column m-3 p-3">
    <div asp-validation-summary="ModelOnly"></div> @* ОТображение ошибок *@
    <div>
        <div class="d-flex flex-row m-2">
            @Html.LabelFor(x => x.Email, null, new { @class = "input-group-text" })
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Email)
        </div>
        <div class="d-flex flex-row m-2">
            @Html.LabelFor(x => x.Year, null, new { @class = "input-group-text" })
            @Html.TextBoxFor(x => x.Year, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Year)
        </div>
        <div class="d-flex flex-row m-2">
            @Html.LabelFor(x => x.Password, null, new { @class = "input-group-text" })
            @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Password)
        </div>
        <div class="d-flex flex-row m-2">
            @Html.LabelFor(x => x.ConfirmPassword, null, new { @class = "input-group-text" })
            @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.ConfirmPassword)
        </div>
        <input type="submit" value="register" class="btn btn-success" />
    </div>
</form>