@model BiicycleShopDb.Models.ViewModels.LoginViewModel

@{
}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://velohouse.by/images/electro.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://velopnz.ru/wp-content/uploads/resized/a09debb6be9f6229fce0ac74cef62850/xt600d_1920banner.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://vamvelosiped.ru/images/slider/stels_banner.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="d-flex flex-column flex-wrap align-content-center justify-content-center align-items-center">

    <h1>Login</h1>

    <a style="margin: 5px;" asp-controller="Account" asp-action="Register" class="btn btn-success">Registr</a>

    <form asp-action="Login" asp-controller="Account" asp-antiforgery="true" class="d-flex flex-column m-3 p-3">
        <div class="w-100 " style="background-color: red; color: white;" asp-validation-summary="ModelOnly"></div> @* ОТображение ошибок *@
    <div>
        <div class="d-flex flex-row m-2">
            @Html.LabelFor(x => x.Email, null, new { @class = "input-group-text" })
            @Html.TextBoxFor(x => x.Email, null, new { @class = "form-control" })
        </div>
        <div>
            @Html.ValidationMessageFor(x => x.Email)
        </div>
        <div class="d-flex flex-row m-2">
            @Html.LabelFor(x => x.Password, null, new { @class = "input-group-text" })
            @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
        </div>
        <div>
            @Html.ValidationMessageFor(x => x.Password)
        </div>
        <div class="d-flex flex-row m-2">
            @Html.LabelFor(x => x.RememberMe, null, new { @class = "input-group-text" })
            @Html.CheckBoxFor(x => x.RememberMe, new { @class = "form-check-label" })
        </div>
        <input type="submit" value="Login" class="btn" />
    </div>
    </form>


</div>
<div class="d-flex flex-column w-100" style="">
    <a asp-action="Index" asp-area="" asp-controller="Home" style="color: black; width: 80px; font-family:sans-serif;" class="btn home_btn">Home</a>
</div>